annotated-types
asgiref
certifi
charset-normalizer
click
cloudinary
colorama
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
gunicorn
h11
humanize
idna
pydantic
pydantic_core
python-decouple
six
sqlparse
typing-inspection
typing_extensions
tzdata
uvicorn
whitenoise



